body{
    background: black;
    text-align: center;
}
.encabezado{
    width: 1200px;
}
h1{
    font-family: 'Cinzel';
    color:rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}
.LE{
    width: 80px;
}
.pp{
    font-family: 'Questrial';
    color:rgb(223, 75, 75);
    font-size: 38px;
    text-align: center;
}
.sp{
    font-family: 'Questrial';
 color: rgba(73, 154, 221, 0.847);
 font-size: 20px;
 text-align: center;
}
.B{
    width:35px;
}
ul{
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family:'Questrial';
    font-size: 25px;
    text-decoration:none;
    text-align: center;
}
.RI{
    width: 90px;
}
.b{
    text-align: left;
}